
.social {
  margin: 0.2em 0 0.2em 0;
  text-align: center;
  display: inline-block;
  font-size: 2em;
}

.social i {
  cursor: pointer;
  margin: 0 0.2em;
}

.fa {
    font-size: 0.8em;
    padding-top: 0.5em;
}
.social i:nth-child(1)  { color: #4267b2; }
.social i:nth-child(2)  { color: #1da1f2; }
.social i:nth-child(3)  { color: #bd081c; }
.social i:nth-child(4)  { color: #36465d; }
