.cloud {
	background: url(https://content.mycutegraphics.com/frames/blue-scribble-border.png) no-repeat center;
	height: max-content;
	padding: 14rem;
	position: relative;
	margin: auto;
	width: 90%;
}
