.cloud {
	background: url(https://content.mycutegraphics.com/frames/blue-scribble-border.png) no-repeat center;
	height: max-content;
	padding: 14rem;
	position: relative;
	margin: auto;
  width: 78%;
  height: 634px;
  display: table;
}

.thought {
  display: table-cell;
  width: 50%;
}
.add-padding {
  padding-left: 5em;
  padding-right: 5em;
}
.submit-for-cloud {
  margin-top: .5rem;
  display: table;
  width: 100%;
}
.submit-for-cloud-cell {
  display: table-cell;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}
.thoughtText {
  font-size: x-large;
  text-align: center;
  padding-top: 3rem;
}
