.cloud {
	background: url(https://content.mycutegraphics.com/frames/blue-scribble-border.png) no-repeat center;
	height: max-content;
	padding: 14rem;
	position: relative;
	margin: auto;
	/*width: 90%;*/
}

.thought {
  margin: auto;
  padding-left: 13rem;
  padding-right: 12rem;
}
.submit-for-cloud {
  margin-top: .5rem;

}
