.custom-card {
  width: auto;
  height: auto;
}

.rating-box {
  height: 600px;
  background-color: green;
  text-align: center;
  color: white;
}

 h1 {
   color: white;
 }

 .control-container {
   width: 100%;
   text-align: center;
   display: table;
 }

 .page-controls {
   display: table-cell;
   color: white;
 }

 .left {
   width: 10em;
 }

 .page-controls, .left > svg { cursor: pointer; }
 .page-controls, .right > svg { cursor: pointer; }

 .right {
   width: 10em;
 }

 .circles-container {
   display: table-cell;
   vertical-align: middle;
   padding-top: 5px;
   width: 25%;
 }

 .circles {
   color: white;
   margin-left: 1em;
   margin-right: 1em;
 }
